.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title h1 {
  font-weight: bold;
  font-size: 2em;
}
.num-tasks {
  color: #f3477a;
}

.add-btn {
  background: #884cb2;
  border-color: transparent;
  color: #fff;
  border-radius: 1em;
  padding: 0.75em 3em;
  letter-spacing: 1px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.add-btn:hover {
  background: #6d3d8e;
}
.plus-sign {
  font-size: 1.5em;
}

h3 {
  font-weight: normal;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}
.task-input {
  width: 100%;
  padding: 0.25rem;
  margin: 1em 0;
  border-radius: 1rem;
  border-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.task-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

.task-due-date {
  align-self: center;
  margin-bottom: 1rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: 0.5px solid #e0e0e0;
  margin: 0.5rem 0;
}

.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.delete-btn {
  color: lightcoral;
}
.delete-btn:hover {
  color: red;
}
.disabled {
  color: gray;
}
.disabled:hover {
  color: gray;
}

.completed {
  color: #dcd9d9;
}

@media (min-width: 768px) {
  .title {
    flex-direction: row;
  }

  .add-btn {
    margin-left: 2em;
  }

  .task-form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .task-details {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .task-due-date {
    margin: 0;
  }
}
