/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.num-tasks {
  color: #f3477a;
}

.title {
  display: flex;
}

.task-input {
  width: 100%;
  padding: 0.25rem;
  padding-left: 1rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
}

.add-btn {
  background: #884cb2;
  border-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: 0.75rem;
  cursor: pointer;
  color: #fff;
}
.add-btn:hover {
  background: #6d3d8e;
}

.task-list {
  margin-top: 2rem;
}
